* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 1.6rem;
}

// Universal classes

.brand {
	&--name {
		position: relative;
		font-family: 'Glory', sans-serif;
		font-size: 2em;
		font-weight: 700;
		background: linear-gradient(51deg, #635ef7 28.35%, #2a61db 84.19%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.container {
	width: 100%;
	max-width: 1440px;
	padding: 4rem 3rem 0;
	margin: 0 auto;
}

.design-ball {
	position: absolute;
	background: linear-gradient(
		140deg,
		rgba(217, 217, 217, 0) 19.64%,
		#635ef7 96.61%
	);
	border-radius: 50%;
	z-index: -1;
	filter: blur(2.5px);
	&--small {
		width: 35px;
		height: 35px;
	}
	&--medium {
		width: 45px;
		height: 45px;
	}
	&--big {
		width: 50px;
		height: 50px;
	}
	&--normal_rotate {
		transform: rotate(-45deg);
	}
	&--reverse_rotate {
		transform: rotate(30deg);
	}
	&--animation {
		animation: ball-rotation 15s infinite;
	}
	&--animation__reverse {
		animation: ball-rotation 10s infinite reverse;
	}
}

@keyframes ball-rotation {
	0%,
	100% {
		transform: translateY(0) translateX(0);
	}
	25% {
		transform: translateY(-20px) translateX(20px);
	}
	50% {
		transform: translateY(0) translateX(40px);
	}
	75% {
		transform: translateY(20px) translateX(20px);
	}
}

@media (min-width: 568px) {
	html {
		font-size: 80%;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 85%;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 104%;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 125%;
	}
}
